@model ASP1.Models.Order

@{
    ViewData["Title"] = "Order details";
}

<h1>Order details</h1>

<h4>
    @Html.DisplayFor(m => m.Timeslot.Destination.Name)
    (@Html.DisplayFor(m => m.Timeslot.DateFrom) – @Html.DisplayFor(m => m.Timeslot.DateTo))
</h4>

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendees" class="control-label"></label>
                <input asp-for="Attendees" class="form-control" />
                <span asp-validation-for="Attendees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            @Html.Hidden("TimeslotID")
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
